* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.god {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('./bg1.jpg');
    background-size: cover;
    background-position: top center;
}

.app-wrap {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-image: linear-gradient( */
    padding-top: 40px;
    /* border: 4px dotted white; */
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
}

header input {
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: 2px solid rgb(173, 173, 173);
    border-radius: 18px 0 18px 0;
    border-bottom: 3px solid rgb(70, 67, 85);
    outline: none;
    color: rgb(17, 17, 17);
    font-weight: 300;
    font-size: 1.1rem;
    transition: 0.2s ease-in;
    background-color: rgba(255, 255, 255, 0.8);
    /* box-shadow: 2px 0px 2px rgb(226, 226, 226); */
}

header input:focus {
    background-color: rgba(255, 255, 255, 0.6);
}

main {
    /* color: white; */
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    padding: 20px 50px px;
    align-items: center;
    text-align: center;
}

.location .city {
    color: rgb(155, 149, 151);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 5px;
}

.location .date {
    color: #fff;
    font-size: 19px;
    font-weight: 400;
}

.current .temp {
    color: #FFF;
    font-size: 6.2rem;
    margin: 0 0;
    font-weight: 570;
    text-shadow: 2px 8px 4px rgba(53, 53, 53, 0.8);
    padding-left: 15px;
}

.current .temp span {
    font-size: 5.7rem;
    font-weight: 500;
}

.current .weather {
    color: #fff;
    font-size: 30px;
    font-weight: 650;
    font-style: italic;
    margin-bottom: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.current .hi-low {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}